################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EngageSmart.Master/v16/.suo
/ElementNavigator/bin/Debug
/ElementNavigator/obj/Debug
/ElementNavigator/ElementNavigator.csproj.user
/packages
